<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brunotonia.informatic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.PrincipalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.ClientesMenuActivity" />
        <activity android:name=".View.ClientesAddActivity" />
        <activity android:name=".View.ClientesListarActivity" />
        <activity android:name=".View.OSMenuActivity" />
        <activity android:name=".View.OSListarActivity" />
        <activity android:name=".View.ServicosMenuActivity" />
        <activity android:name=".View.ServicosListarActivity" />
        <activity android:name=".View.ServicosAddActivity" />
        <activity android:name=".View.DesenvolvedoresActivity" />
        <activity android:name=".View.OSClientesSelecionarActivity" />
        <activity android:name=".View.ServicosSelecionarActivity" />
        <activity android:name=".View.OSVisualizarMenuActivity" />
        <activity android:name=".View.OSVisualizarActivity"></activity>
    </application>

</manifest>